<header class="site-header">
  <nav class="site-nav">
    <a href="/" class="site-logo">Høst Møn</a>

    <div class="site-nav__links">
      <a href="/program">Program</a>
      <a href="/faellesskab">Fællesskab</a>
      <a href="/om">Om os</a>
      <a href="/kob-billet" class="site-nav__btn">Køb Billet</a>
    </div>
  </nav>
</header>